@media (max-width: 991px) {
    .header {
        padding: 0 50px;
    }
    .promo {
        &__wrapper {
            padding-right: 50px;
        }        
    }
    .consultation {
        h2 {
            text-align: center;
            font-size: 30px;
        }
        &__descr {
            text-align: center;
        }
        .feed-form {
            margin: 36px auto;
        }
    }
    .carousel {
        &__inner {
            width: 550px;
        }
        &__img {
            width: 100%;
        }
    }
    .catalog {
        &__content {
            justify-content: space-around;
        }
    }
}
@media (max-width: 767px) {
    .header {
        flex-direction: column;
        &__official {
            margin-top: 20px;
        }
        &__phone {
            margin-top: 20px;
        }
    }
    .promo {
        &__wrapper{
            align-items: center;
            padding-right: 0;
        }
    }
    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items:center;
            margin-top: 0px;
        }
        &__item {
            margin-top: 40px;
        }
        &__subtitle {
            margin-top: 0;
        }
        &__descr {
            margin-top: 0;
        }
    }
    .consultation {
        h2 {
            font-size: 25px;
            line-height: 35px;
        }
    }
    .carousel {
        &__inner {
            width: 400px;
        }
        &__img {
            width: 100%;
        }
    }
    .catalog {
        &__tabs {
            margin-top: 20px;
        }
        &__tab {
            width: 150px;
            height: 35px;
            font-size: 10px;
            line-height: 35px;
        }
    }
}
@media (max-width: 575px) {
    .promo {
        &__header {
            text-align: center;
            font-size: 35px;
        }
        &__subheader {
            text-align: center;
            font-size: 19px;
        }
        &__icons {
            flex-direction: column;
            align-items: center;
            margin-top: 0;
            width: 300px;            
        }
        &__icon {
            margin-top: 20px;
            img {
                margin-bottom: 0;
            }
        }
    }
    .consultation {
        .feed-form {
            width: 250px;
        }
        h2 {
            line-height: 30px;
        }
    }
    .carousel {
        &__inner {
            width: 200px;
        }
        &__img {
            width: 100%;
        }
        .slick-prev, .slick-next {
            left: -33px;
            img {
                width: 20px;
                height: 35px;
            }
        }
        .slick-next {
            right: -33px;
            left: auto;
        }
    }
    .catalog {
        &__tabs {
            margin-top: 20px;
        }
        &__content{
            margin-top: 40px;
        }
        &__tab {
            width: 90px;
            height: 25px;
            font-size: 8px;
            line-height: 25px;
        }
        h2 {
            font-size: 20px;
        }
    }
    .comment {
        h2 {
            font-size: 25px;
        }
        &__block{
            flex-direction: column;
            padding: 0 20px 0 20px;
            img {
                display: block;
                margin: 0 auto;
                width: 120px;
                height: 120px;
            }
        }
        &__text {
            margin-top: 20px;
        }
        &__subtitle {
            text-align: center;
        }
        &__marafon {
            text-align: center;
        }
        &__descr {
            text-align: center;
        }
    }
    .footer {
        &__info {
            width: 270px;
            height: 200px;
            padding: 10px 10px 10px 10px;
        }
        &__addr {
            font-size: 15px;
        }
        &__social-item {
            margin: 0 5px;
        }
    }
    .modal {
        width: 269px;
        min-height: 350px;
        padding: 10px 10px 10px 10px;
        &__subtitle {
            font-size: 15px;
            line-height: 15px;
        }
        &__descr {
            margin-top: 10px;
        }
        .feed-form {
            width: 250px;
            align-items: center;      
        }
        h2 {
            line-height: 30px;
        }
    }
}
        