@media (max-width: 991px) {
    .header {
        padding: 0 50px;
    }
    .promo {
        &__wrapper {
            padding-right: 50px;
        }        
    }
    .consultation {
        h2 {
            text-align: center;
            font-size: 30px;
        }
        &__descr {
            text-align: center;
        }
        .feed-form {
            margin: 36px auto;
        }
    }
}
@media (max-width: 767px) {
    .header {
        flex-direction: column;
        &__official {
            margin-top: 20px;
        }
        &__phone {
            margin-top: 20px;
        }
    }
    .promo {
        &__wrapper{
            align-items: center;
            padding-right: 0;
        }
    }
    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items:center;
            margin-top: 0px;
        }
        &__item {
            margin-top: 40px;
        }
        &__subtitle {
            margin-top: 0;
        }
        &__descr {
            margin-top: 0;
        }
    }
    .consultation {
        h2 {
            font-size: 25px;
            line-height: 35px;
        }
    }
}
@media (max-width: 575px) {
    .promo {
        &__header {
            text-align: center;
            font-size: 35px;
        }
        &__subheader {
            text-align: center;
            font-size: 19px;
        }
        &__icons {
            flex-direction: column;
            align-items: center;
            margin-top: 0;
            width: 300px;            
        }
        &__icon {
            margin-top: 20px;
            img {
                margin-bottom: 0;
            }
        }
    }
    .consultation {
        .feed-form {
            width: 250px;
        }
        h2 {
            line-height: 30px;
        }
    }
}
        